html, body{
	height:100%;
}
body {
	position: relative;
	/*padding-top: 80px;*/
	padding-top: 0px;
	overflow-x:hidden;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 16px;
}

@media (min-width: 768px) {
	.navbar-right {
		/*padding-right:15px;*/
		margin-right:17px;
	}
}
@keyframes slidein {
	from{
		opacity:0;
		left:60%;
	}
	50%{
		opacity:0;
		left:30%;
	}
	to {
		opacity:1;
		left:3%;
	}
}
.main-text {
	position: absolute;
	bottom: 12%;
	left:3%;
  /*padding: 40px 15px;
	text-align: center;
	width: 100%;*/
	color:#fff;
	animation:slidein 1.5s;
}
.main-text h1 {
	/*text-shadow: 2px 4px 3px #000;*/
	font-size: 68px;
	letter-spacing: 2px;
	margin-bottom:10px;
	/*opacity:0.2;*/
}
.main-text p {
	text-shadow: 2px 2px 1px #000;
}
.main-text ul {
	/*text-shadow: 2px 2px 1px #000;*/
	list-style-type: none;
	font-size: 24px;
    padding-left: 0px;
    margin-bottom:0px;
}
.main-text li {
	/*padding-top:8px;*/
}
ul.lead {
	padding-left:0%;
}
i.animated {
	/*text-shadow: 0px 4px 3px #000;*/
}
.main-image-home {
	position: relative;
	width: 100%;
	min-height: 100px;
	height:100%;
	/*background-color:#2C3E50;#011D45*/
	background: linear-gradient(rgba(2,32,70,0.85), rgba(0,15,33,0.93)), url(../images/waves3.jpg) no-repeat center;
	/*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/waves3.jpg) no-repeat center;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/inside_of_wave.jpg) no-repeat center;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(http://science-all.com/images/wallpapers/wave-wallpaper/wave-wallpaper-1.jpg) no-repeat center;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/pipe.jpg) no-repeat center;*/
	background-size: cover;
	vertical-align: middle;
}
@keyframes shake_s {
	/* from {transform:rotate(0deg);}
	to {transform:rotate(360deg);} */
	0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes show_s {
	0%  	{ opacity: 0; }
	50%		{ opacity: 0; }
  	100%	{ opacity: 1; }
}
.big_s {
	float:left;
	padding-right:20px;
}
.big_s img {
	height:235px;
	padding: 30px 30px 0 0;
	opacity:0;
	animation: show_s 4s ease 0s normal forwards 1,
				shake_s 0.3s linear 6s 1,
				shake_s 0.3s linear 12s 1;
	/* animation: spin_s 1s linear 0.5s 1; */
	/*animation: spin_s 2s cubic-bezier(.91,.03,.07,.99) 2s 1;*/
}
.mt_right {
	float:left;
}
@media screen and (max-width: 768px) {
	.main-text h1 {
		font-size: 50px;
		display:none;
	}
	@keyframes slideup {
		from{
			opacity:0;
			top:60%;
		}
		50%{
			opacity:0;
			top:50%;
		}
		to {
			opacity:1;
			top:35%;
		}
	}
	.big_s {
		display:none;
	}
	.mt_right {
		float:none;
	}
	.main-text {
		top: 35%;
		text-align:center;
		left: 0%;
		width:100%;
		animation: slideup 1s;
	}
	ul.lead li {
		padding-top:10px;
	}
	/*.main-image-home {
		position: relative;
		width: 100%;
		min-height: 100px;
		height:100%;
		background: url(../images/waves3.jpg) no-repeat center, linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
		background-size: cover;
		vertical-align: middle;
	}*/
	}
}
/*.main-img {
	vertical-align: middle;
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://science-all.com/images/wallpapers/wave-wallpaper/wave-wallpaper-1.jpg);
	opacity: 0.7;
}*/
.btn-black {
	background:#222222;
	/*background:#03C4EB;*/
	border-color: #222;
	color:#fff;
	margin-right:20px;
}
.btn-black:hover {
	background:#fff;
	border-color: #adadad;
	color:#000;
}
.btn-trans {
	background:none;
	color:#fff;
}
.btn-trans:hover {
	background:#fff;
}
.learn_more {
	font-weight:600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.page {
	min-height:400px;
	padding:80px 0 120px 0;
	text-align: center;
}
.page2 {
	background:#E3E3E3;
	border-top:1px solid #A0A0A0;
	border-bottom:1px solid #A0A0A0;
	/*color:#fff;*/
}
#services.page {
	padding-bottom:0px;
}
#services .serv_color {
	color: #223d5e;
}
#services h2 {
	margin-top: 34px;
	margin-bottom: 24px;
}
#services p {
	margin-bottom: 24px;
}
#services .col-md-4 {
	transition: ease 0.5s;
}
#services .col-md-4:hover {
	transition: ease 0.5s;
	transform: translateY(-20px);
}
#contact p {
	margin-bottom:40px;
}
footer {
	padding:50px 0 300px 0;
	text-align:center;

}
.footer .page2 {
		border-top:1px solid #A0A0A0;
		background:#E3E3E3;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.navbar-nav > li > a {
	padding-top: 30px;
	padding-bottom: 30px;
}

a.navbar-brand {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size:28px;
	height:80px;
	line-height:28px;
}

.navbar-inverse .navbar-toggle {
	border-color: #FFF;
	}

.navbar-inverse .navbar-brand {
    color:#fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #FFF;
}

.navbar-toggle {
	margin-top:20px;
}

.brand_text {
	vertical-align:middle;
	margin-left:8px;
}

.navbar-header {
	display:none;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: rgba(34, 61, 94,1);
}

.dropdown-menu {
	padding:0px;
	margin:0px;
}

.dropdown-menu>li>a {
	line-height:2;
}

.animated {
	position:relative;
	/*top:-45px;*/
	color:white;
}
@keyframes showup {
	from {
		opacity: 0;
	}
	50% {
		opacity:0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes arrow-jump {
/*  0%   { opacity: 0;}
  100% { opacity: 1;
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -0-transform: translateY(8px);
    transform: translateY(40px);
    }  */

    /*0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}*/

  0%, 20%, 50%, 80%, 100% {
    transform:translateY(0);
  }
	40% {
    transform:translateY(-30px);
  }
	60% {
    transform:translateY(-15px);
  }

}
@keyframes slidedown {
	from {
		transform:translateY(-30px);
		opacity:0;
	}
	50% {transform:translateY(-20px);opacity:0;}
	to {transform:translateY(0);opacity:1;}

}
.animated {
  /*-webkit-animation: arrow-jump 1.5s infinite;
  -moz-animation:    arrow-jump 1.5s infinite
  -o-animation:      arrow-jump 1.5s infinite;
  animation:         arrow-jump 1.5s 3s 5;*/
  animation: slidedown 3s 0s 3;
}

/*
.animated {
 	position:relative;
 	margin-left:10px;
  -webkit-animation:bounce 2s infinite;
}

@-webkit-keyframes bounce {
   0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}*/

.position_down_arrow {
	position:relative;
	top:92%;
	left:5.5%;
	/*text-align: center;*/
}

.portfolio_img {
	min-height:200px;
	height:100%;
	width:100%;
	border: 1px solid #BCBCBC;
	border-radius: 6px;
	/*box-shadow: 0px 0px 5px #000;*/
	box-shadow: 0 0 10px rgba(28,36,43,.2);
}

.weld_test {
	background:url(../images/weldTestCoupons.png) no-repeat;
	background-size: cover;
}

.intranet {
	background:url(../images/brock_intranet.png) no-repeat;
	background-size: cover;
}

.po {
	background:url(../images/purchaseOrders.png) no-repeat #000;
	background-size: cover;
}

.bid_log {
	background:url(../images/brock_bid_log_view.png) no-repeat;
	background-size: cover;
}

.bid_log2 {
	background:url(../images/bidLog.png) no-repeat;
	background-size: cover;
}

.scaffold {
	background:url(../images/scaffolding.png) no-repeat;
	background-size: cover;
}

.exchanger {
	background:url(../images/gce.png) no-repeat;
	background-size: cover;
}
.s_logo {
	background:url(../images/s_logo.png) no-repeat center center;
	/*background-size: cover;*/
	background-color:rgba(34, 61, 94,1);
}
.shop_production {
	background:url(../images/gcf_shop_production_home.png) no-repeat;
	background-size: cover;
}
.admiral {
	background:url(../images/admiral.png) no-repeat;
	background-size: cover;
}
.teg {
	background:url(../images/the_echo_group.png) no-repeat;
	background-size: cover;
}
.equip {
	background:url(../images/equipment_transfer1.png) no-repeat;
	background-size: cover;
}
.crossreference {
	background:url(../images/track_xref_employee_match.png) no-repeat;
	background-size: cover;
}
.navbar-inverse{
	/*box-shadow: 0px 0px 15px #5b5b5b;*/
}

/*#portfolio p {
	border: 1px solid #000;
	background:white;
	padding: 10px 0 10px 0;
	box-shadow: 0px 1px 6px #000;
}*/


.navbar-inverse.navbar_trans {
	background:transparent;
	border:none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	/*background:rgba(34, 61, 94,1);*/
	background:transparent;
}

/*hover on transparent nav*/
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {

}



.navbar-brand img {
	margin:0px;padding:0px;height:40px;
}



.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

/*nav  {
-webkit-transition: all 1s ease;
   transition: all 0.8s ease;
}

.navbar-brand, .navbar-nav > li > a   {
-webkit-transition: all 1s ease;
   transition: all 0.8s ease;
}*/

.modal-dialog {
    width: 90%;
    margin: 5px auto;
}

.modal-body {
	text-align:left;
}

.modal-body img {
	border: 1px solid #A0A0A0;
	box-shadow: 0 0 10px rgba(28,36,43,.2);
	margin: 0 auto;
	max-height:1200px;
}

.modal-body p, .modal-body h2, .modal-body h3 {
	margin-left:3%;
	margin-right:3%;
}

.modal-body p:first-of-type {
	text-indent: 10px;
	margin-top:25px;
	margin-bottom:30px;
}

.modal-body p.indent {
	text-indent: 10px;
	margin-bottom:30px;
}

.second_footer {
	height:10px;
	width:100%;
	background-color:#223D5E;
	box-shadow: 0px 0px 5px 0px rgba(28,36,43,.2);
}

.network-name {
	/*text-transform: uppercase;*/
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}
.li_center {
	text-align:center;
}
.btn_li {
	margin-top:100px;
}
.txt-left {
	text-align:left;
}

.crm {
	font-size:70px;
	line-height: 1;
	font-weight:600;
}

#about p.text-left {
	text-indent: 30px;
}

.btn.btn-primary.othercolor {
	background-color:#223D5E;
}

.nav_down_arrow {
	margin-left: 3px;
}

.navbar-nav>li>a.get_in_touch {
	background:transparent;
	color:#fff;
	border-color:#fff;
}

.navbar-nav>li>a.get_in_touch:hover, .navbar-nav>li>a.get_in_touch:focus {
	background:#fff;
	color:#333;
	border-color:#fff;
}
a.undo_link {
	color:#333;
	text-decoration: none;
}

footer li, footer h5 {
	text-align:left;
}
footer h5 {
	font-size:16px;
	font-weight:600;
	margin-top:0px;
}
/************ xs **********************/
@media screen and (max-width: 768px) {
	.navbar-inverse.navbar_trans {
		background: rgba(34, 61, 94,1);
	}
	.main-text h1 {
		opacity:0;
	}
	.navbar-header {
		display:inline;
	}
	.position_down_arrow {
		left:0%;
		top:86%;
		text-align:center;
	}
	.btn_li {
		margin: 0px 0px 50px 0px;
	}
	/* .btn.get_in_touch {
		margin-left:20px;
	} */
	.navbar-nav > li > a.btn {
		padding: 10px 20px;
		margin:10px auto 20px auto;
		width:88%;
	}
	.navbar-fixed-top .navbar-collapse {
		max-height:420px;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #333;
		/* background-color:rgba(255,255,255, 0.8); */
		background-color: #f5f5f5;
	}
	.LI-profile-badge {
		margin-bottom:70px;
	}
}
/******** sm **************/
@media screen and (min-width: 769px) {
	/******* shrink *******/
	.navbar-inverse.shrink .navbar-nav > .active > a, .navbar-inverse.shrink .navbar-nav > .active > a:focus, .navbar-inverse.shrink .navbar-nav > .active > a:hover {
		/*background-color: #222;*/
		background: rgb(1, 25, 53);
	}
	.navbar-inverse.shrink  {
		color: #fff;
		/*background: #000;*/
		background:rgba(34, 61, 94,1);
		box-shadow: 0 0 10px rgba(28, 36, 43, 0.2);
	}
	.shrink a.navbar-brand {
		max-height: 50px;
		padding: 8px 15px;
		font-size: 18px;
		line-height: 20px;
	}
	.shrink .navbar-header {
		display:inline;
	}
	.shrink .navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.shrink .navbar-brand img {
		margin:0px;padding:0px;height:34px;
	}
	/*** make nav show up slow on desktops **/
	ul.navbar-nav.run_once {
		animation: showup 5s;
	}
	.shrink ul.navbar-nav {
		animation: none;
	}
	.shrink .nav > li > a {
		font-size: 14px;
		padding: 15px 15px;
		text-shadow: none;
	}
	.nav > li > a {
		font-size: 18px;
		padding: 30px 30px;
		/*text-shadow: 2px 2px 1px #000;*/
	}
	.nav > li > a.btn {
		padding: 10px 20px;
		margin:20px 0 0 15px;
	}
	.shrink .nav .btn {
		font-size: 14px;
		padding: 5px 10px;
		/* margin: 9px 0 9px 30px; */
		margin: 9px 0 9px 15px;
	}
	.nav > .btn {
		font-size:18px;
		padding: 10px 25px;
		margin:16px 0 16px 50px;
	}
	.navbar-inverse.shrink .navbar-nav > .active > a.get_in_touch {
		background: #E3E3E3;
		color:#333;
		border-color:#E3E3E3;
	}
}

.shrink .navbar-collapse {
	box-shadow: 0px 0px 5px 0px rgba(28,36,43,.2);
}
/**** for iphone 5s and less ***/
@media screen and (max-width: 321px) {
	.brand_text .iphone5s {
		display:none;
	}
}
